* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: #FFFFFF;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.roundBorder {
  border-radius: 100%;
  text-align: center;
}
header {
  padding: 1% 10% 0 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(172.46deg, rgba(14, 11, 32, 0.86) 14.75%, rgba(14, 11, 32, 0) 25.05%), linear-gradient(348.72deg, rgba(239, 1, 159, 0) 14.02%, rgba(14, 11, 32, 0.7) 74.08%), url("../images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header .items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60vh;
}
header .items * {
  background: radial-gradient(196.56% 824.49% at 66.75% -23.66%, rgba(14, 11, 32, 0.36) 70.31%, rgba(239, 1, 159, 0.0825) 85.42%);
}
header .flex-center-bottom {
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}
header h1 {
  font-family: 'Abril Fatface';
  font-size: 4.5rem;
  padding-left: 10%;
  width: 40%;
}
header h2 {
  font-family: 'Abril Fatface';
  font-size: 3.5rem;
  padding-left: 10%;
  padding-bottom: 1%;
  width: 50%;
}
header img {
  padding-left: 10%;
  background: none;
  width: 40%;
  padding-top: 3%;
}
header .btn-hover {
  font-family: 'Muli';
  width: 30%;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  margin-bottom: 30%;
  height: 13vh;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background: radial-gradient(140.21% 237.58% at 78.43% 139.84%, rgba(239, 1, 159, 0.75) 0%, rgba(239, 1, 159, 0) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
@media ( max-width: 1047px ) {
  header h1 {
    width: 60%;
  }
  header h2 {
    width: 80%;
  }
  header img {
    width: 60%;
  }
}
@media ( max-width: 1406px ) {
  header h2 {
    width: 65%;
  }
}
@media ( max-width: 744px ) {
  header .btn-hover {
    width: 45%;
  }
  header h1 {
    width: 80%;
  }
}
@media ( max-width: 500px ) {
  header {
    padding: 0;
    background-position: 80% 100%;
  }
  header img {
    width: 70%;
    padding-left: 8%;
    padding-top: 6%;
  }
  header h1 {
    width: 100%;
    font-size: 3rem;
  }
  header h2 {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  header .btn-hover {
    font-size: 1rem;
    height: 7vh;
    margin-right: 15%;
    margin-bottom: 50%;
  }
}
.ourWorkButton {
  background-color: #0e0a1f;
  text-align: center;
  padding-top: 3%;
}
.ourWorkButton .btn-hover {
  width: 300px;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Abril Fatface';
  color: #FFFFFF;
  cursor: pointer;
  margin: 20px;
  height: 90px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.ourWorkButton .btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.ourWorkButton .btn-hover:focus {
  outline: none;
}
.ourWorkButton .btn-hover.color-7 {
  background-image: linear-gradient(to right, #B5037C, #0e0a1f, #0e0a1f, #ff00ae);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.marketingSection {
  width: 100%;
  height: 200vh;
  background-color: #0e0a1f;
  padding-top: 15%;
  text-align: center;
}
.marketingSection .row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.marketingSection .row div {
  width: 35%;
  height: 0;
  padding-bottom: 35%;
  border: 4px solid #FFFFFF;
  margin: 0.5%;
}
.marketingSection .row img {
  width: 80%;
  height: auto;
  padding-top: 1%;
}
.marketingSection h3 {
  font-family: 'Abril Fatface';
  font-size: 3vw;
  padding: 3%;
  width: 100%;
}
.marketingSection p {
  font-family: 'Montserrat';
  font-size: 2vw;
  line-height: 2.5vw;
  padding-top: 4%;
  width: 100%;
}
@media ( max-width: 500px ) {
  .marketingSection .row div {
    padding-bottom: 60%;
    margin-bottom: 7%;
    margin-right: 2%;
    margin-left: 2%;
  }
  .marketingSection h3 {
    padding: 5% 30%;
  }
  .marketingSection p {
    padding: 5% 20%;
  }
  .marketingSection .row .two {
    padding-bottom: 53%;
  }
}
@media (max-width: 1200px) {
  .marketingSection {
    height: 150vh;
  }
}
@media (max-width: 900px) {
  .marketingSection {
    height: 100vh;
  }
}
@media (max-width: 600px) {
  .marketingSection {
    height: 100vh;
  }
}
.teamHeader {
  background: linear-gradient(172.46deg, rgba(14, 11, 32, 0.86) 14.75%, rgba(14, 11, 32, 0) 25.05%), linear-gradient(348.72deg, rgba(239, 1, 159, 0) 14.02%, rgba(14, 11, 32, 0.7) 74.08%), url("../images/iphone.jpg") no-repeat center center fixed;
  padding: 0;
}
.teamHeader .items {
  align-items: center;
}
.teamHeader .items * {
  background: none;
}
.teamHeader img,
.teamHeader h1,
.teamHeader h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}
.teamHeader .buttons {
  text-align: center;
}
.teamHeader .btn-hover {
  width: 200px;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Abril Fatface';
  color: #FFFFFF;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.teamHeader .btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.teamHeader .btn-hover:focus {
  outline: none;
}
.teamHeader .btn-hover.color-7 {
  background-image: linear-gradient(to right, #B5037C, #0e0a1f, #0e0a1f, #ff00ae);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.teamSection {
  padding-top: 3%;
  background: #0e0a1f;
  height: 200vh;
}
.teamSection h2 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Abril Fatface';
  padding-bottom: 2%;
}
.teamSection p {
  text-align: center;
  font-family: 'Abril Fatface';
  font-size: 1.3rem;
  padding-bottom: 2%;
  margin: 0 10%;
  line-height: 1.7rem;
}
.teamSection h3 {
  text-align: center;
  font-size: 1.7rem;
  font-family: 'Montserrat';
  font-weight: bolder;
}
@media ( max-width: 500px ) {
  .teamSection {
    padding-top: 4%;
    height: 150vh;
  }
}
.circles {
  margin: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.circles .red {
  color: red;
  background: none;
}
.circles h3 {
  color: skyblue;
}
.circles img {
  border-radius: 100%;
  text-align: center;
  width: 70%;
  padding-bottom: 7%;
}
.circles div {
  width: 20%;
  margin: 1%;
}
.circles p {
  font-size: 1rem;
  padding-top: 2%;
  font-family: 'Muli';
  margin: 0;
}
.circles .member {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media ( max-width: 500px ) {
  .circles {
    margin-top: 5%;
  }
  .circles div {
    width: 45%;
  }
}
@media ( max-width: 1200px ) {
  .circles div {
    width: 30%;
  }
}
@media ( max-width: 744px ) {
  .circles div {
    width: 45%;
  }
}
