section{
    width: 100%;
    height: 250vh;
    background-color: @bgcolor;
    padding-top: 15%;
    text-align: center;
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        div{
            width: 35%;
            height: 0;
            padding-bottom: 35%;
            border: 4px solid @white;
            margin: .5%;
        }

        img{
            width: 80%;
            height: auto;
            padding-top: 1%;
            }
    }
  
 
    h3{
        font-family: @fatface;
        font-size: 3vw;
        padding: 3%;
        width: 100%;
    }
    p{
        font-family: @mont;
        font-size: 2vw;
        line-height: 2.5vw;
        padding-top: 4%;
        width: 100%;

    }
    @media @mobile{
        .row div{
            padding-bottom: 60%;
            margin-bottom: 7%;
            margin-right: 2%;
            margin-left: 2%;
        }
        h3{
            padding: 5% 30%;
        }
        p{
            padding: 5% 20%;
        }
        .row .two{
            padding-bottom: 53%;
        }
    }

}